.header {
  width: 100%;
  background-color: #3dafda;
  height: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgb(0 0 0 / 45%) 0px 15px 20px -20px;

  &-item {
    margin: 0 16px;
  }
}
